@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position: relative;
}

.barra-de-navegacion {
    border: solid black;
    padding: 20px;
    font-size: 16px;
    position: fixed;
    background: #ffffff;
    display: flex;
    top: 0;
    z-index: 1;
}
.logocabecera {
    width: 20px;
    height: 20px;
}
.titulo{
    border: solid black;
    padding: 20px;
    margin-top: 10px;
    font-size: 32px;
    top: 100px;
}
.ropa {
    border: solid black;
    padding: 20px;
    margin-top: 10px;
    font-size: 14px;
    top: 100px;
}
.mujer {
    border: solid black;
    padding: 0px;
    margin-bottom: 10px;
}
.hombre {
    border: solid black;
    padding: 20px;
}
.footer {
    border: solid black;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    top: 100px;
    display: flex;
    justify-content: space-around;
    /*background-color: #212429;*/
    /*color: #ffffff;*/
}
img {
    border-radius: 15px;
    padding: 10px;
}
.mujer {
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.hombre {
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.componentes {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}