@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    position: relative;
}
.barra-de-navegacion {
    border-bottom: solid black;
    padding: 20px;
    font-size: 16px;
    position: fixed;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 10px;
    right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    justify-content: space-around;
}
.opciones {
    display: flex;
    justify-content: space-around;
}
.op1:hover {
    color: #44bcd8;
}
.op2:hover {
    color: #44bcd8;
}
.op3:hover {
    color: #44bcd8;
}
.op4:hover {
    color: #44bcd8;
}
.op1, .op2, .op3, .op4 {
    padding-right: 20px;
}
.menu{
    margin-left: 10px;
    margin-right: 30px;
    width: 20px;
}
.perfil, .favoritos, .cesta {
    width: 20px;
    margin-right: 10px;
}
.iconos-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}
.titulo{
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 32px;
    top: 100px;
}
.ropa {
    padding: 20px;
    margin-top: 10px;
    font-size: 14px;
    top: 100px;
}
.prendas {
    border-radius: 20px;
    padding: 10px;
}
.prendas:hover {
    background: #1979a9;
}
.mujer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hombre {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.componentes {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.footer {
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212429;
    color: #ffffff;
}
.entrega, .telefono, .email {
    border: solid black;
    border-radius: 50px;
    padding: 10px;
    background: #ffffff;
    margin-right: 10px;
}
.foo1, .foo2, .foo3, .foo4 {
    display: flex;
    align-items: center;
    /*padding: 10px;*/
    justify-content: space-around;
}

@media (max-width: 920px) {
    .menu {
        width: 30px;
    }
    .footer {
        display: grid;
        justify-content: flex-start;
    }
    .foo1, .foo2, .foo3, .foo4 {
        border-bottom: solid #ffffff;
        padding-top: 20px;
        padding-bottom: 10px;
        left: 0px;
    }
    .foo1, .foo2 {
        justify-content: flex-start;
    }
    .opciones, .iconos-menu {
        display: none;
    }
}