* {
box-sizing: border-box;
}
.barra-de-navegacion {
    border: solid black;
    padding: 20px;
}
.logocabecera {
    width: 20px;
    height: 20px;
}
.ropa {
    border: solid black;
    padding: 20px;
    margin-top: 10px;
}
.mujer {
    border: solid black;
    padding: 20px;
    margin-bottom: 10px;
}
.hombre {
    border: solid black;
    padding: 20px;
}
.footer {
    border: solid black;
    padding: 20px;
    margin-top: 10px;
    /*background-color: #212429;*/
    /*color: #ffffff;*/
}
.entrega .telefono .email {
   
}